.main {
  min-height: 100vh;
  &_section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .main_container {
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      box-sizing: border-box;
      min-width: 50vw;

      .main_empty {
        min-width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: DeathStar;
        font-size: 3rem;
      }
    }

    &_grogu {
      display: flex;
      justify-content: center;
      min-width: 50vw;
    }
  }
}
