@font-face {
  font-family: DeathStar;
  src: url('/assets/fonts/DeathStar-VmWB.ttf') format(truetype);
}
@font-face {
  font-family: Star_Wards;
  src: url('/assets/fonts/AnakinmonoRegular-n1lP.ttf') format(truetype);
}
