@import './fonts.scss';
@import './_normalize.scss';
:root {
  height: 100vh;
  width: 98vw;
  color-scheme: light dark;
  background-image: url(/assets/images/1624070459_43-phonoteka_org-p-zvezdnie-voini-oboi-krasivo-49.jpg);
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .error {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ebd71c;
    font-family: DeathStar;
    font-size: 5rem;
  }
}
