.card_people {
  min-width: 40vw;
  max-width: 40vw;
  height: 100%;

  .card_people_link {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 98.5vw;
    min-height: 650vh;
  }
  .card_people_button {
    position: relative;
    cursor: pointer;
  }
  .card_block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ebd71c;
    background-color: #000000;
    font-family: Star_Wards;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 10px 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
    letter-spacing: 0.09rem;
    font-weight: 400;
    .img_block {
      width: 98%;
      overflow: hidden;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .card_img {
        background-color: #ffffff;
      }
    }
    .desc_block {
      padding: 20px;
      .desc_block_title {
        font-size: 2rem;
        padding: 0.5rem 0;
        font-weight: bold;
        font-family: DeathStar;
        color: #ebd71c;
      }
      .desc_block_height,
      .desc_block_mass,
      .desc_block_gender,
      .desc_block_color,
      .desc_block_color {
        padding-bottom: 0.2rem;
      }
      .desc_block_span {
        font-size: 1rem;
      }
    }
  }
}
